{% load static %}
<footer>
    <div class="container">
       <div class="row">

         <div class="col-lg-2 col-md-6 col-12">
             <div class="item">
                <h4>Adderss</h4>
                <p><img src="{% static 'imgs/location.png' %}" alt="#" />London 145<br>United Kingdom</p>
                <p><img src="{% static 'imgs/phone_icon.png' %}" alt="#" />+7586656566<br>+7586656566</p>
                <p><img src="{% static 'imgs/mail_icon.png' %}" alt="#" /> demo@gmail.com</p>
             </div>
          </div>

          <div class="col-lg-3 col-md-6 col-12">
             <div class="item">
                <h4>Opeing time</h4>
                <ul class="opening_hour_">
                      <li><span class="left_side">Hip Hop Dance :</span><span class="right_side">07:00 – 21:00</span></li>
                      <li><span class="left_side">Ballet :</span><span class="right_side">09:00 – 21:00</span></li>
                      <li><span class="left_side">Break Dance :</span><span class="right_side">18:00 – 24:00</span></li>
                      <li><span class="left_side">Salsa :</span><span class="right_side">18:00 – 22:00</span></li>
                      <li><span class="left_side">Tab Dancing :</span><span class="right_side">19:00 – 23:00</span></li>
                   </ul>
             </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-12">
             <div class="item">
                <h4>Newsletter</h4>
                <form class="form_newsletter">
                   <input type="Email" placeholder="Enter your Email" name="#" />
                   <button>Subscribe</button>
                </form>
             </div>
             <div class="item social_icon">
                <ul>
                   <li><img src="{% static 'imgs/fb.png' %}" alt="#"></li>
                   <li><img src="{% static 'imgs/tw.png' %}" alt="#"></li>
                   <li><img src="{% static 'imgs/in.png' %}" alt="#"></li>
                   <li><img src="{% static 'imgs/gp.png' %}" alt="#"></li>
                </ul>
             </div>
          </div>

          <div class="col-lg-3 col-md-6 col-12">
             <div class="footer_blog_section" style="margin-top: 55px;">
                <img class="img-responsive" src="{% static 'imgs/footer_logo.png' %}" alt="#" />
             </div>
          </div>

       </div>
    </div>
    <div class="copyright text-center">
       <p>Copyright © 2019 Designed by <a href="https://html.design">Free Html Templates</a>. All rights reserved</p>
    </div>
 </footer>