{% load static %}
<div class="top_section">
    <div class="top_inner">
       <div id="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-light text-capitalize">
       <div class="container">
          <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo.png' %}" alt="#" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="show-menu">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                   <a class="nav-link" href="#main_slider">HOME</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#trainings">TRAININGS</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#classes">CLASSES</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#shows">SHOWS</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#shortcides">SHORTCODES</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#contact">CONTACT</a>
                </li>
             </ul>
          </div>
       </div>
    </nav>
 </div>
       <div id="main_slider" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
          <li data-target="#main_slider" data-slide-to="0" class="active"></li>
          <li data-target="#main_slider" data-slide-to="1"></li>
       </ol>
       <div class="carousel-inner">
          <div class="carousel-item active">
             <img class="d-block w-100" src="{% static 'imgs/slider1.jpg' %}" alt="slider_img">
             <div class="ovarlay_slide_cont">
                <h2>Dance<br>to<br>the<br>beat</h2>
                <a class="blue_bt" href="#">Our Service</a>
             </div>
          </div>
          <div class="carousel-item">
             <img class="d-block w-100" src="{% static 'imgs/slider1.jpg' %}" alt="slider_img">
             <div class="ovarlay_slide_cont">
                <h2>Dance<br>to<br>the<br>beat</h2>
                <a class="blue_bt" href="#">Our Service</a>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
       <img src="{% static 'imgs/arrow_1.png' %}" alt="#" />
       </a>
       <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
       <img src="{% static 'imgs/arrow_1.png' %}" alt="#" />
       </a>
       </div> 
    </div>
 </div>